# Rust
# Compiled target directory
/target

# Dependency lock file
Cargo.lock

# IDE-specific files
.idea/
*.iml

# Visual Studio Code
.vscode/

# macOS files
.DS_Store

# ignore personal env
.env

# direnv
.direnv/

# Nix
/result
/nix/
*.drv

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
*.bak

# Backup files
*.bak
*.old

# System files
Thumbs.db
ehthumbs.db
Desktop.ini

# Other IDEs and editors
*.sublime-project
*.sublime-workspace
*.code-workspace